.card {
    -fx-background-color: #ffffff;
    -fx-border-color: #ced4da;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
}


.card-nom {
    -fx-font-size: 10px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}


.card-prenom {
    -fx-font-size: 10px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.card-rating {
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-text-fill: white;
}

.card-image {
    -fx-fit-width: 200px;
    -fx-fit-height: 150px;
    -fx-padding: 10px 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0); /* Ajout d'un effet d'ombre portée sur l'image */
}